<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @microport.content %>
</p>

<p>
  <b>User:</b>
  <%= @microport.user_id %>
</p>


<%= link_to 'Edit', edit_microport_path(@microport) %> |
<%= link_to 'Back', microports_path %>
